footer.container-fluid
    div.row.pt-2(style="border-top: 1px solid rgba(0, 0, 0, .2); background-color: #ECEDED;")
        div.col-sm-6.col-md-3.text-left
            h4 Company Links
            ul.nav.flex-column
                li.nav-item
                    a.nav-link.active(href="#") Active
                
                li.nav-item
                    a.nav-link(href="#") Link
                
                li.nav-item
                    a.nav-link(href="#") Link
                
                li.nav-item
                    a.nav-link(href="#") Link
                
        div.col-sm-6.col-md-3.text-left
            h4 Our Policies
            ul.nav.flex-column
                li.nav-item
                    a.nav-link.active(href="#")  Active
                
                li.nav-item
                    a.nav-link(href="#") Link
                
                li.nav-item
                    a.nav-link(href="#") Link
                
                li.nav-item
                    a.nav-link(href="#") Link
                
        div.col-sm-6.col-md-3.text-left
            h4 Complaints
            ul.nav.flex-column
                li.nav-item
                    a.nav-link.active(href="#") Active
                li.nav-item
                    a.nav-link(href="#") Link
                li.nav-item
                    a.nav-link(href="#") Link
                li.nav-item
                    a.nav-link(href="#") Link
                
        div.col-sm-6.col-md-3.text-left
            h4 Social Platforms
            ul.nav.flex-column
                li.nav-item
                    a.nav-link.active(href="#") Active
                li.nav-item
                    a.nav-link(href="#") Link
                li.nav-item
                    a.nav-link(href="#") Link
                li.nav-item
                    a.nav-link(href="#") Link